
<div class="card mb-2">
    <div class="card-header bg-light text-center">
        <h3 class="iphone-title">{{ audioapp.TrackName }}</h3>
    </div>
  <div class="card-body p-2">
        <div class="row">
            <div class="col-4">
                <img class="img-fluid img-thumbnail" src="{{ audioapp.preferedIcon }}" alt="{{ audioapp.name }}" />
            
            </div>
            <div class="col-8">

            <div class="row">
                <div class="col-12 iphone-description">
                    <ul class="list-unstyled">
                        <li>Developer : {{ audioapp.artistName|title }}</li> 
                        <li>Categorie : {{ audioapp.categorie.groupe|title  }} - {{ audioapp.categorie.nom|title  }}</li>
                        <li>Minimum OS version : {{ audioapp.MinimumOsVersion }}</li>
                        <li>Laste Update : {{ audioapp.CurrentVersionReleaseDate|date('m-d-Y') }}</li>
                        <li>App Size : {{ audioapp.FileSizeBytes }}</li>
                    </ul>
                </div>
            </div>
                


            </div>
        </div>
  </div>
</div>



        

<div class="card mb-2">
    <div class="card-header bg-light  text-center">
        <h5>Screenshot</h5>
    </div>
    <div class="card-body">
        <div class="row">
            {% if audioapp.ipadScreenshotUrls is not empty %}
                {% for key, screen in audioapp.ipadScreenshotUrls %}
                    <div class="col-6">
                        <button type="button" class="btn btn-light" data-toggle="modal" data-target="#img_{{ key }}">
                        <img class="img-fluid img-thumbnail" src="{{ screen }}" alt="{{ audioapp.name }}" />
                        </button>
                    </div>
                {% endfor %}
            {% elseif audioapp.screenshotUrls is not empty %}
                {% for key, screen in audioapp.screenshotUrls|keys %}
                    <div class="col-6">
                    <button type="button" class="btn btn-light" data-toggle="modal" data-target="#img_{{ key }}">
                        <img class="img-fluid img-thumbnail" src="{{ screen }}" alt="{{ audioapp.name }}" />
                        </button>
                    </div>
                {% endfor %}
            {% endif %} 
        </div>  
    </div>
</div>

<div class="card mb-2">
    <div class="card-header  bg-light  text-center">
        <h5>Compatibility</h5>     
    </div>
    <div class="card-body">
        <ul class="list-inline text-center  mb-0">
            <li class="list-inline-item">
                {% if audioapp.au %}
                    <img src="{{ asset('img/logos/audio-units.jpg') }}" class="img-fluid img-thumbnail fonction-acive" width="40px" title="This app is compatible with audio-unit">
                {% else %}
                    <img src="{{ asset('img/logos/no-audio-units.jpg') }}" class="img-fluid img-thumbnail" width="40px" title="This app is not compatible with audio-unit">
                {% endif %}
                </li>
                <li class="list-inline-item">
                {% if audioapp.iaa %}
                    <img src="{{ asset('img/logos/iaa.jpg') }}" class="img-fluid img-thumbnail fonction-acive" width="30px">
                {% else %}
                    <img src="{{ asset('img/logos/no-iaa.jpg') }}" class="img-fluid img-thumbnail" width="40px">
                {% endif %}
                    </li>
                <li class="list-inline-item">
                {% if audioapp.ab %}
                    <img src="{{ asset('img/logos/audiobus.jpg') }}" class="img-fluid img-thumbnail fonction-acive" width="30px">
                {% else %}
                    <img src="{{ asset('img/logos/no-audiobus.jpg') }}" class="img-fluid img-thumbnail" width="40px">
                {% endif %} 
                </li>
                <li class="list-inline-item">
                {% if audioapp.link %}
                    <img src="{{ asset('img/logos/link.jpg') }}" class="img-fluid img-thumbnail fonction-acive" width="40px">
                {% else %}
                    <img src="{{ asset('img/logos/no-link.jpg') }}" class="img-fluid img-thumbnail" width="40px">
                {% endif %}
            </li>
        </ul>
    </div>
</div>

<div class="card  mb-2">
    <div class="card-header bg-light  text-center">
        <h5>Patch note</h5>
    </div>
    <div class="card-body">
        {{ audioapp.releaseNotes|markdown }}
    </div>
</div>

<div class="card">
    <div class="card-header bg-light  text-center">
        <h5>Description</h5>
    </div>
    <div class="card-body">
        {{ audioapp.description|markdown }}
    </div>
</div>



            {% if audioapp.ipadScreenshotUrls is not empty %}
                {% for key, screen in audioapp.ipadScreenshotUrls %}
                    <div class="modal fade" id="img_{{ key }}" tabindex="-1" role="dialog" aria-labelledby="img_{{ key }}Label" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered" role="document">
                        <div class="modal-content">
                            <div class="card text-center">
                                <div class="card-body">
                                    <img class=" img-thumbnail" src="{{ screen }}" alt="{{ audioapp.name }}" />
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            </div>
                        </div>
                    </div>
                    </div>
                {% endfor %}
            {% elseif audioapp.screenshotUrls is not empty %}
                {% for key, screen in audioapp.screenshotUrls %}
                    <div class="modal fade" id="img_{{ key }}" tabindex="-1" role="dialog" aria-labelledby="img_{{ key }}Label" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered" role="document">
                        <div class="modal-content">
                            <div class="modal-body">    

                            <div class="card text-center">
                                <div class="card-body">
                                    <img class=" img-thumbnail" src="{{ screen }}" alt="{{ audioapp.name }}" />
                                </div>
                            </div>
                            

                                

                                
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            </div>
                        </div>
                    </div>
                    </div>
                {% endfor %}
            {% endif %} 
        
        







            




            

    
    





