
<div class="card mb-2 mt-2 p-2">
    <div class="card-header">
        Price     
    </div>
    <div class="card-body text-center">


        <div class="row">
            <div class="col-6">
                <h3>{{ audioapp.FormattedPrice }}</h3>
            </div>
            <div class="col-6">
                <a  class="" href="{{ audioapp.TrackViewUrl }}" target="_blank"><img class="img-fluid img-thumbnail" src="{{ asset('img/logos/appstore-logo.png') }}" /></a>
            </div>
        
        </div>
        
        
    </div>

</div>






{% if audioapp.averageUserRating is not empty %}
<div class="card mt-2 p-2">
    <div class="card-header">
       Rating   
    </div>
    <div class="card-body text-center">
        <h5>{{ audioapp.averageUserRating }}/5 - ({{ audioapp.UserRatingCount  }}) votes</h5>

    </div>
</div>
{% endif %}

<div class="card mt-2 p-2">

    <div class="card-body text-center">
        <a href="javascript:history.go(-1)" class="btn btn-light btn-block">BACK</a>

    </div>
</div>