        
            <div class="card">
                <div class="card-header">
                    <a href="" class="btn btn-light btn-sm btn-block">{{ audioapp.name }}</a>


 
                </div>
                <div class="card-body p-2">
                    <div class="row">
                        <div class="col-4 text-center">
                        {% if audioapp.artworkUrl512 is not empty %}
                            <img class="card-img-top img-fluid img-thumbnail" src="{{ audioapp.artworkUrl60 }}" alt="Card image cap">
                            {% else %}
                            <img class="card-img-top img-fluid img-thumbnail" src="{{ audioapp.artworkUrl60 }}" alt="Card image cap">
                            {% endif %}
                            
                        </div>
                        <div class="col-8">
                        <ul class="list-unstyled">
                            <li><small class="text-muted">{{  audioapp.sellerName|slice(0,20)  }}</small></li>

                            <li><small class="text-muted">Updated {{ audioapp.currentVersionReleaseDate|date('d-m-Y')}}</small></li>
                            <li>
                            <small>{{ audioapp.categorie.nom }}</small></li>
                            
                            <li>
                            {% if audioapp.newapp %}
                            <small class="text-danger">New App</small>
                            {% else %}
                            <small class="text-muted">Release {{ audioapp.releaseDate|date('d-m-Y')}}</small>
                            {% endif %}</li>
                        </li>
                        </ul>



                        </div>
                    </div>
                </div>
                <div class="card-footer">  
                            <ul class="list-inline float-right  mb-0">

                                <li class="list-inline-item">
                                    {% if audioapp.au %}
                                        <img src="{{ asset('img/logos/audio-units.jpg') }}" class="img-fluid img-thumbnail" width="30px" title="This app is compatible with audio-unit">
                                    {% else %}
                                        <img src="{{ asset('img/logos/no-audio-units.jpg') }}" class="img-fluid img-thumbnail" width="30px" title="This app is not compatible with audio-unit">
                                    {% endif %}
                                </li>
                                <li class="list-inline-item">
                                    {% if audioapp.iaa %}
                                        <img src="{{ asset('img/logos/iaa.jpg') }}" class="img-fluid img-thumbnail" width="30px">
                                    {% else %}
                                        <img src="{{ asset('img/logos/no-iaa.jpg') }}" class="img-fluid img-thumbnail" width="30px">
                                    {% endif %}
                                </li>
                                <li class="list-inline-item">
                                    {% if audioapp.ab %}
                                        <img src="{{ asset('img/logos/audiobus.jpg') }}" class="img-fluid img-thumbnail" width="30px">
                                    {% else %}
                                        <img src="{{ asset('img/logos/no-audiobus.jpg') }}" class="img-fluid img-thumbnail" width="30px">
                                    {% endif %} 
                                </li>
                                <li class="list-inline-item">
                                    {% if audioapp.link %}
                                        <img src="{{ asset('img/logos/link.jpg') }}" class="img-fluid img-thumbnail" width="30px">
                                    {% else %}
                                        <img src="{{ asset('img/logos/no-link.jpg') }}" class="img-fluid img-thumbnail" width="30px">
                                    {% endif %}
                                </li>
                            </ul>
                                         
                    
                
                </div>
            </div>
        