{% extends is_mobile() ? "mobile/base.html.twig" : "base.html.twig" %}

{% block pagetitle %}
<h1 class="text-center display-4 mt-10">iOS AUDIO APPS DATABASE</h1>
<hr />

{% endblock %}

{% block body %}

<div class="row mb-2 pb-0">


    <div class="col-auto mr-auto">

        <select  class="form-control choose-categorie"  onchange="this.options[this.selectedIndex].value && (window.location = this.options[this.selectedIndex].value);">
            <option value="">{{ title|title }}</option>
            <option value="{{ path('index.categorie', { categorie: 'synth' }) }}">Synth</option>
            <option value="{{ path('index.categorie', { categorie: 'tools' }) }}">Tools</option>
            <option value="{{ path('index.categorie', { categorie: 'instrument' }) }}">Instrument</option>
            <option value="{{ path('index.categorie', { categorie: 'effect' }) }}">Effect</option>
            <option value="{{ path('index.categorie', { categorie: 'drum' }) }}">Drum</option>
            <option value="{{ path('index.categorie', { categorie: 'sequencer' }) }}">Sequencer</option>
            <option value="{{ path('index.categorie', { categorie: 'midi' }) }}">Midi</option>
        </select>
    </div>
    <div class="col-auto pagination">
    {{ knp_pagination_render(audioapps) }}
    </div>







</div>

<hr />


<div class="row">
    {% for audioapp in audioapps %}


    <div class="col-4 mb-4">
        {{ include('main/include/audioapp.card.html.twig') }}
    </div>
    {% endfor %}


</div>

    <div class="float-right pagination">
    {{ knp_pagination_render(audioapps) }}
    </div>





{% endblock %}




