{% extends "devices/iphone/base.html.twig" %}


{% block body %}
<h3 class="h4 text-center">{{ title|title }}</h3>




    <div class="col-12 mt-3">
        <select  class="form-control choose-categorie"  onchange="this.options[this.selectedIndex].value && (window.location = this.options[this.selectedIndex].value);">
            <option value="">{{ title|title }}</option>
            <option value="{{ path('index.categorie', { categorie: 'synth' }) }}">Synth</option>
            <option value="{{ path('index.categorie', { categorie: 'tools' }) }}">Tools</option>
            <option value="{{ path('index.categorie', { categorie: 'instrument' }) }}">Instrument</option>
            <option value="{{ path('index.categorie', { categorie: 'effect' }) }}">Effect</option>
            <option value="{{ path('index.categorie', { categorie: 'drum' }) }}">Drum</option>
            <option value="{{ path('index.categorie', { categorie: 'sequencer' }) }}">Sequencer</option>
            <option value="{{ path('index.categorie', { categorie: 'midi' }) }}">Midi</option>
        </select>
    </div>













<hr />

<div class="row">
    {% for audioapp in audioapps %}
    <div class="col-12 mb-4">
        {{ include('main/include/audioapp.card.html.twig') }}
    </div>
    {% endfor %}
</div>

<div class="{% if is_mobile() %}pagination-mobile{% else %}pagination{% endif %} float-right">
      {{ knp_pagination_render(audioapps) }}
</div>



{% endblock %}