{% extends "devices/ipad/base.html.twig" %}

{% block pagetitle %}
{% endblock %}

{% block body %}
<div class="row mb-2 pb-0">


    <div class="col-auto mr-auto">
        <select  class="form-control choose-categorie"  onchange="this.options[this.selectedIndex].value && (window.location = this.options[this.selectedIndex].value);">
            <option value="">{{ title|title }}</option>
            <option value="{{ path('index.categorie', { categorie: 'synth' }) }}">Synth</option>
            <option value="{{ path('index.categorie', { categorie: 'tools' }) }}">Tools</option>
            <option value="{{ path('index.categorie', { categorie: 'instrument' }) }}">Instrument</option>
            <option value="{{ path('index.categorie', { categorie: 'effect' }) }}">Effect</option>
            <option value="{{ path('index.categorie', { categorie: 'drum' }) }}">Drum</option>
            <option value="{{ path('index.categorie', { categorie: 'sequencer' }) }}">Sequencer</option>
            <option value="{{ path('index.categorie', { categorie: 'midi' }) }}">Midi</option>
        </select>
    </div>
    <div class="col-auto pagination">
    {{ knp_pagination_render(audioapps) }}
    </div>







</div>

<hr />


<div class="row">
    {% for audioapp in audioapps %}


    <div class="col-6 mb-4">
        {{ include('main/include/audioapp.card.html.twig') }}
    </div>
    {% endfor %}
</div>





{% endblock %}